


psycopg2 2.9.10(first need to have microsoft c++ toolkit )
pip install psycopg2

to see installed version of psycopg2
pip show psycopg2


paho-mqtt 2.1.0
pip install paho-mqtt

pip install uvicorn


# Create a virtual environment
python -m venv venv

# Activate the virtual environment
# On Windows:
venv\Scripts\activate
#on mac
# For zsh (or bash on macOS)
source venv/bin/activate


install packages from requirements.txt
pip install -r requirements.txt




run each service seperately 
uvicorn main:app --reload --host 0.0.0.0 --port <PORT>
Replace <PORT> with the desired port for each service (e.g., 8001, 8002, etc.)


# uvicorn auth_service.main:auth_service --reload --host 0.0.0.0 --port 8001
running commands because we are running services as independant of others
uvicorn main:auth_service --reload --host 0.0.0.0 --port 8001


uvicorn main:expense_service --reload --host 0.0.0.0 --port 8002


uvicorn main:account_service --reload --host 0.0.0.0 --port 8003

